body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    border: 2px solid #333;
    border-radius: 5px;
    width: 300px;
    background-color: #eee;
    text-align: center;
    padding: 10px;
}

#display {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 5px; /* Add spacing between buttons */
    justify-items: center;
}

.buttons button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    /* You can remove the width property if you want buttons to take equal width */
    margin: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #ccc;
}

