/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7; /* Light background color */
    color: #333; /* Dark text color */
}


/* Style the header with semi-transparent background color */
header {
    text-align: center;
    background-image: url('Project 2 Header.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center 75%; /* Adjust vertical position as needed */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: #fff; /* White text color for better contrast */
    margin-bottom:0px; /* Add margin to the bottom for spacing */
    padding: 100px; /* Adjust padding as needed */
    height: 140px; /* Sets the height of the element to xxx pixels */
}

/* Text color for better contrast */
header h2, header p {
    color: #fff; /* White text color for better contrast */
}



/* Style the navigation menu (Dominant - 60%) */
nav {
    background-color: #f7f7f7; /* Light background */
}



/* Navigation styles (Secondary - 30%) */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #4E3310; /* Dark text color */
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Optional: Style the dropdown links */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}